# Use a fixed, reachable DNS name in production whenever possible.
COMPOSE_PROJECT_NAME=kafka-platform

KAFKA_NODE_ID=1

KAFKA_EXTERNAL_HOST=192.168.0.15
KAFKA_EXTERNAL_PORT=9092
KAFKA_BIND_ADDRESS=0.0.0.0
KAFKA_BROKER_HOSTNAME=pro-kafka
KAFKA_BROKER_CONTAINER_NAME=pro-kafka-broker


KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
KAFKA_CLUSTER_NAME=production-kafka
KAFKA_CONTROLLER_QUORUM_VOTERS="1@kafka:29093"
#1@192.168.0.15:29093,2@192.168.0.16:29093

KAFKA_VERSION=4.3.1
KAFKA_DATA_VOLUME=kafka-production-data

KAFKA_HEAP_MIN=1G
KAFKA_HEAP_MAX=1G

KAFKA_DEFAULT_PARTITIONS=3
KAFKA_AUTO_CREATE_TOPICS=false
KAFKA_DELETE_TOPIC_ENABLE=false
KAFKA_LOG_RETENTION_HOURS=168

KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL

#Single Node  cluster settings
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR=1
KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_MIN_INSYNC_REPLICAS=1

# Kafka UI is bound to localhost by default.
KAFKA_UI_BIND_ADDRESS=0.0.0.0
KAFKA_UI_PORT=8088
KAFKA_UI_VERSION=latest
KAFKA_UI_CONTAINER_NAME=pro-kafka-ui
KAFKA_UI_HOSTNAME=ui-pro-kafka

KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS="kafka:19092"

LOG_MAX_SIZE=20m
LOG_MAX_FILES=5
